body {
  margin: 0px auto;
  padding: 0px;
}

.container {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #15692D;
}
header {
  height: 5%;
  width: 100%;
  color: blue;
  text-align: center;
  font-size: 40px;
}

.phase2Left {
  height: 100%;
  position: relative;
}

#cardInfo {
  height: 40%;
  position: absolute;
  margin: 0px auto;
  top: 50%;
  left: 20%;
  width: 90%;
  color: white;
  font-size: 20px;
}

.rows {
  position: relative;
  display: inline-block;
}

#playArea {
  height: 90%;
  top: 5%;
  left: 28%;
  width: 72%;
  position: absolute;
}

#player1 {
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0, 5px;
  height: 120px;
  width: 85%;
}

#player2 {
  position: absolute;
  top: 60%;
  left: 10%;
  margin: 0, 5px;
  height: 120px;
  width: 85%;
}

.main {
  height: 100%;
  position: relative;
  color: white;
  font-size: 60px;
  text-align: center;
}

.rowCards1, .rowCards2 {
  background-image: url('images/card_back.jpg');
  width: 169px;
  height: 235px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px 18px;
}
.rowCards2 {
  background-image: url('images/The_Spoils_back.jpg');
  background-size: contain;
}



img {
  position: absolute;
  top: 5%;
  left: 10%;
}

.phase2ButtonRow {
  position: absolute;
  top: 48%;
  left: 38%;
  
}

.phs2Btn {
  text-align: center;
  width: 200px;
  font-size: 20px;
  margin: 0px 10px;
  display: none;
}

#begin {
  position: absolute;
  top: 48%;
  left: 38%;
  font-size: 20px;
  width: 300px;
}

footer {
  height: auto;
  width: 100%;
  position: fixed;
  color: white;
  bottom: 0px;
  text-align: center;
}